.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 60px;
  align-items: center;
}


ul{
  list-style-type: none;
}

li {
  float: left;
  padding: 10px;
}